--
-- PostgreSQL database dump
--

\restrict YrmPvebKa3hVil7hHYNrL2UJbfGMX2NIwVykowFXIoRs6qXVGdWnL7L8zTbHhh4

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: enum_actifs_etat; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_actifs_etat AS ENUM (
    'neuf',
    'bon',
    'reparation',
    'hors_service'
);


ALTER TYPE public.enum_actifs_etat OWNER TO postgres;

--
-- Name: enum_actifs_mode_amortissement; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_actifs_mode_amortissement AS ENUM (
    'lineaire',
    'degressif'
);


ALTER TYPE public.enum_actifs_mode_amortissement OWNER TO postgres;

--
-- Name: enum_actifs_type; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_actifs_type AS ENUM (
    'logiciel',
    'brevet',
    'licence',
    'fonds_commercial',
    'autres',
    'materiel',
    'vehicule',
    'batiment',
    'b??timent',
    'terrain'
);


ALTER TYPE public.enum_actifs_type OWNER TO postgres;

--
-- Name: enum_actifs_type_immobilisation; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_actifs_type_immobilisation AS ENUM (
    'corporel',
    'incorporel'
);


ALTER TYPE public.enum_actifs_type_immobilisation OWNER TO postgres;

--
-- Name: enum_actifs_type_sortie; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_actifs_type_sortie AS ENUM (
    'cession',
    'mise_au_rebut',
    'don'
);


ALTER TYPE public.enum_actifs_type_sortie OWNER TO postgres;

--
-- Name: enum_audit_logs_action; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_audit_logs_action AS ENUM (
    'CREATE',
    'UPDATE',
    'DELETE',
    'REEVALUATION',
    'DEPRECIATION',
    'RECALCUL',
    'SORTIE',
    'CONTRAT_CREATE',
    'CONTRAT_UPDATE',
    'CONTRAT_DELETE',
    'DOCUMENT_UPLOAD',
    'DOCUMENT_DOWNLOAD',
    'DOCUMENT_DELETE',
    'MOUVEMENT_CREATE',
    'MOUVEMENT_UPDATE',
    'MOUVEMENT_VALIDER',
    'MOUVEMENT_ANNULER',
    'MOUVEMENT_DELETE'
);


ALTER TYPE public.enum_audit_logs_action OWNER TO postgres;

--
-- Name: enum_categories_amortissement_mode_amortissement_defaut; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_categories_amortissement_mode_amortissement_defaut AS ENUM (
    'lineaire',
    'degressif'
);


ALTER TYPE public.enum_categories_amortissement_mode_amortissement_defaut OWNER TO postgres;

--
-- Name: enum_users_role; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.enum_users_role AS ENUM (
    'admin',
    'gestionnaire',
    'comptable',
    'auditeur',
    'juridique',
    'informatique',
    'inventoriste'
);


ALTER TYPE public.enum_users_role OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: actifs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.actifs (
    id uuid NOT NULL,
    code character varying(50) NOT NULL,
    nom character varying(200) NOT NULL,
    type public.enum_actifs_type NOT NULL,
    date_acquisition date NOT NULL,
    cout_acquisition numeric(15,2) NOT NULL,
    valeur_residuelle numeric(15,2) DEFAULT 0,
    duree_utile_ans integer NOT NULL,
    mode_amortissement public.enum_actifs_mode_amortissement NOT NULL,
    description text,
    actif boolean DEFAULT true,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_by uuid,
    updated_by uuid,
    compte_comptable character varying(10) DEFAULT '205'::character varying,
    date_sortie date,
    type_sortie character varying(20),
    prix_cession numeric(15,2),
    plus_moins_value numeric(15,2) DEFAULT 0,
    numero_inventaire character varying(50),
    marque character varying(100),
    modele character varying(100),
    numero_serie character varying(100),
    localisation character varying(200),
    fournisseur character varying(200),
    etat character varying(20) DEFAULT 'bon'::character varying,
    affectation character varying(200),
    type_immobilisation character varying(20) DEFAULT 'incorporel'::character varying,
    date_validite date,
    nombre_utilisateurs integer,
    support character varying(100),
    categorie_id uuid,
    valeur_reevaluee numeric(15,2) DEFAULT 0,
    date_derniere_reevaluation date,
    cumul_reevaluations numeric(15,2) DEFAULT 0,
    duree_residuelle_ans integer,
    provision_depreciation numeric(15,2) DEFAULT 0,
    date_dernier_test_depreciation date,
    devise_id uuid,
    montant_devise numeric(15,2),
    taux_change_utilisation numeric(15,6),
    taux_amortissement numeric(5,2),
    numero_facture character varying(50),
    motif_sortie text,
    depreciation_actif boolean DEFAULT false,
    montant_depreciation numeric(15,2) DEFAULT 0,
    cout_acquisition_cdf numeric(15,2)
);


ALTER TABLE public.actifs OWNER TO postgres;

--
-- Name: amortissements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.amortissements (
    id uuid NOT NULL,
    exercice integer NOT NULL,
    annuite numeric(15,2) NOT NULL,
    cumul_amortissements numeric(15,2) NOT NULL,
    valeur_nette numeric(15,2) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    actif_id uuid,
    taux numeric(5,2) DEFAULT 0
);


ALTER TABLE public.amortissements OWNER TO postgres;

--
-- Name: COLUMN amortissements.taux; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.amortissements.taux IS 'Taux d''amortissement appliqu??? pour l''ann???e (%)';


--
-- Name: anomalies; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.anomalies (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    actif_id uuid NOT NULL,
    type_anomalie character varying(50) NOT NULL,
    description text,
    photo character varying(255),
    localisation_constatee character varying(200),
    date_constat timestamp without time zone DEFAULT now(),
    statut character varying(20) DEFAULT 'signal???'::character varying,
    created_by uuid,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    priorite character varying(20) DEFAULT 'moyenne'::character varying,
    resolu_par uuid,
    localisation character varying(200),
    commentaire text,
    date_resolution date,
    alertes_envoyees json DEFAULT '[]'::json,
    CONSTRAINT check_priorite CHECK (((priorite)::text = ANY (ARRAY[('basse'::character varying)::text, ('moyenne'::character varying)::text, ('haute'::character varying)::text, ('critique'::character varying)::text])))
);


ALTER TABLE public.anomalies OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    id uuid NOT NULL,
    action public.enum_audit_logs_action NOT NULL,
    table_name character varying(50) NOT NULL,
    record_id uuid NOT NULL,
    old_data jsonb,
    new_data jsonb,
    ip_address inet,
    created_at timestamp with time zone NOT NULL,
    user_id uuid,
    action_date timestamp with time zone DEFAULT now()
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: categories_amortissement; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories_amortissement (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    code_categorie character varying(10) NOT NULL,
    nom_categorie character varying(100) NOT NULL,
    description text,
    duree_vie_ans integer NOT NULL,
    mode_amortissement_defaut character varying(20) DEFAULT 'lineaire'::character varying,
    taux_amortissement numeric(5,2),
    coefficient_degressif numeric(3,2) DEFAULT 1.75,
    actif boolean DEFAULT true,
    compte_comptable_defaut character varying(10),
    created_by uuid,
    updated_by uuid,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.categories_amortissement OWNER TO postgres;

--
-- Name: contrats; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.contrats (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    actif_id uuid NOT NULL,
    numero_contrat character varying(255) NOT NULL,
    fournisseur character varying(255) NOT NULL,
    date_debut date NOT NULL,
    date_fin date NOT NULL,
    montant numeric(15,2) NOT NULL,
    description text,
    fichier character varying(255),
    alertes_envoyees jsonb DEFAULT '[]'::jsonb,
    created_by uuid,
    updated_by uuid,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    facture_pdf character varying(255)
);


ALTER TABLE public.contrats OWNER TO postgres;

--
-- Name: depreciations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.depreciations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    actif_id uuid NOT NULL,
    date_test date NOT NULL,
    valeur_recouvrable numeric(15,2) NOT NULL,
    valeur_comptable numeric(15,2) NOT NULL,
    provision numeric(15,2) DEFAULT 0 NOT NULL,
    commentaire text,
    created_by uuid,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.depreciations OWNER TO postgres;

--
-- Name: devises; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.devises (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    code character varying(3) NOT NULL,
    nom character varying(50) NOT NULL,
    symbole character varying(5) NOT NULL,
    taux_achat numeric(15,6) DEFAULT 1 NOT NULL,
    taux_vente numeric(15,6) DEFAULT 1 NOT NULL,
    taux_moyen numeric(15,6) DEFAULT 1 NOT NULL,
    est_principale boolean DEFAULT false,
    date_taux date NOT NULL,
    source character varying(100) DEFAULT 'BCC'::character varying,
    variation numeric(5,2) DEFAULT 0,
    actif boolean DEFAULT true,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.devises OWNER TO postgres;

--
-- Name: document_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.document_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    document_id uuid NOT NULL,
    user_id uuid NOT NULL,
    action character varying(50) NOT NULL,
    ip_address character varying(45),
    action_date timestamp without time zone DEFAULT now(),
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.document_logs OWNER TO postgres;

--
-- Name: documents; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    actif_id uuid,
    nom_fichier character varying(255) NOT NULL,
    chemin_fichier character varying(500) NOT NULL,
    type_fichier character varying(100),
    taille_fichier integer,
    description text,
    date_upload timestamp without time zone DEFAULT now(),
    created_by uuid,
    created_at timestamp without time zone DEFAULT now(),
    categorie character varying(50) DEFAULT 'reglementation'::character varying,
    confidentialite character varying(20) DEFAULT 'public'::character varying,
    mots_cles text,
    duree_conservation integer DEFAULT 10,
    date_expiration timestamp without time zone,
    nombre_consultations integer DEFAULT 0,
    nombre_telechargements integer DEFAULT 0,
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.documents OWNER TO postgres;

--
-- Name: exercices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercices (
    id integer NOT NULL,
    annee integer NOT NULL,
    date_debut date NOT NULL,
    date_fin date NOT NULL,
    cloture boolean DEFAULT false,
    date_cloture date,
    date_approbation date,
    resultat numeric(20,2),
    report_a_nouveau numeric(20,2),
    observations text,
    reserves_change numeric(20,2),
    operations_refinancement numeric(20,2),
    rapport_politique_monetaire character varying(255),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.exercices OWNER TO postgres;

--
-- Name: exercices_comptables; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.exercices_comptables (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    annee integer NOT NULL,
    date_debut date NOT NULL,
    date_fin date NOT NULL,
    cloture boolean DEFAULT false,
    date_cloture date,
    date_approbation date,
    resultat numeric(20,2),
    report_a_nouveau numeric(20,2),
    observations text,
    reserves_change numeric(20,2),
    operations_refinancement numeric(20,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.exercices_comptables OWNER TO postgres;

--
-- Name: exercices_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.exercices_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.exercices_id_seq OWNER TO postgres;

--
-- Name: exercices_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.exercices_id_seq OWNED BY public.exercices.id;


--
-- Name: factures; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.factures (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    numero_facture character varying(50) NOT NULL,
    actif_id uuid,
    date_emission date DEFAULT CURRENT_DATE NOT NULL,
    montant_ht numeric(15,2) NOT NULL,
    montant_tva numeric(15,2) DEFAULT 0,
    montant_ttc numeric(15,2) NOT NULL,
    devise character varying(3) DEFAULT 'CDF'::character varying,
    fichier_pdf character varying(255),
    created_by uuid,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    taux_change_cdf numeric(15,6),
    contrat_id uuid,
    type_facture character varying(20) DEFAULT 'acquisition'::character varying
);


ALTER TABLE public.factures OWNER TO postgres;

--
-- Name: mouvements; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mouvements (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    actif_id uuid NOT NULL,
    type_mouvement character varying(20) NOT NULL,
    date date DEFAULT CURRENT_DATE NOT NULL,
    description text,
    details jsonb DEFAULT '{}'::jsonb,
    created_by uuid,
    created_at timestamp without time zone DEFAULT now(),
    statut character varying(20) DEFAULT 'brouillon'::character varying,
    validated_by uuid,
    date_validation timestamp without time zone,
    date_mouvement date DEFAULT CURRENT_DATE NOT NULL,
    localisation_source character varying(200),
    localisation_destination character varying(200),
    responsable character varying(100),
    document_reference character varying(100),
    prix_cession numeric(15,2),
    plus_moins_value numeric(15,2),
    nouvel_etat character varying(50),
    nouvelle_localisation character varying(200),
    nouvelle_affectation character varying(200),
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    notes text,
    provenance character varying(200),
    cout_maintenance numeric(15,2),
    fournisseur_maintenance character varying(200),
    duree_maintenance integer,
    acquereur character varying(200),
    valide_par uuid,
    date_annulation timestamp without time zone,
    annule_par uuid,
    updated_by uuid
);


ALTER TABLE public.mouvements OWNER TO postgres;

--
-- Name: reevaluations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reevaluations (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    actif_id uuid NOT NULL,
    date_reevaluation date NOT NULL,
    valeur_avant numeric(15,2) NOT NULL,
    valeur_apres numeric(15,2) NOT NULL,
    plus_value numeric(15,2) DEFAULT 0,
    moins_value numeric(15,2) DEFAULT 0,
    compte_reevaluation character varying(10),
    nouvelle_duree_ans integer,
    nouveau_taux numeric(5,2),
    commentaire text,
    document_reference character varying(100),
    created_by uuid,
    created_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.reevaluations OWNER TO postgres;

--
-- Name: taux_change; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.taux_change (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    devise_id uuid,
    taux_cdf numeric(15,6) DEFAULT 0,
    date_taux date NOT NULL,
    source character varying(100) DEFAULT 'BCC'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.taux_change OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    role character varying(255) DEFAULT 'gestionnaire'::character varying,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    photo_url character varying(500)
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: exercices id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercices ALTER COLUMN id SET DEFAULT nextval('public.exercices_id_seq'::regclass);


--
-- Data for Name: actifs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: amortissements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: anomalies; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.anomalies (id, actif_id, type_anomalie, description, photo, localisation_constatee, date_constat, statut, created_by, created_at, updated_at, priorite, resolu_par, localisation, commentaire, date_resolution, alertes_envoyees) FROM stdin;
2fd6289e-58a4-481c-bfd2-dfe26deb259e	b81489fe-740a-44c4-804c-6117b348547a	endommage	Vehicule endomag??	\N	\N	2026-04-25 00:00:00	signale	dbe3905d-82a0-4e52-b43e-5b7d84636303	2026-04-25 13:19:00.721	2026-04-25 13:19:00.721	moyenne	\N	\N	\N	\N	[]
\.


--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: categories_amortissement; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: contrats; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: depreciations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: devises; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: document_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.document_logs (id, document_id, user_id, action, ip_address, action_date, created_at) FROM stdin;
\.


--
-- Data for Name: documents; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.documents (id, actif_id, nom_fichier, chemin_fichier, type_fichier, taille_fichier, description, date_upload, created_by, created_at, categorie, confidentialite, mots_cles, duree_conservation, date_expiration, nombre_consultations, nombre_telechargements, updated_at) FROM stdin;
\.


--
-- Data for Name: exercices; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: exercices_comptables; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: factures; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mouvements; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: reevaluations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: taux_change; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: exercices_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.exercices_id_seq', 57, true);


--
-- Name: actifs actifs_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actifs
    ADD CONSTRAINT actifs_code_key UNIQUE (code);


--
-- Name: actifs actifs_numero_inventaire_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actifs
    ADD CONSTRAINT actifs_numero_inventaire_key UNIQUE (numero_inventaire);


--
-- Name: actifs actifs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actifs
    ADD CONSTRAINT actifs_pkey PRIMARY KEY (id);


--
-- Name: amortissements amortissements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.amortissements
    ADD CONSTRAINT amortissements_pkey PRIMARY KEY (id);


--
-- Name: anomalies anomalies_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.anomalies
    ADD CONSTRAINT anomalies_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key1 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key10; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key10 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key11; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key11 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key12; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key12 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key13; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key13 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key14; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key14 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key15; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key15 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key16; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key16 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key17; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key17 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key18; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key18 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key19; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key19 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key2 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key20; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key20 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key21; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key21 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key3 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key4 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key5 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key6 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key7 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key8 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_code_categorie_key9; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_code_categorie_key9 UNIQUE (code_categorie);


--
-- Name: categories_amortissement categories_amortissement_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_pkey PRIMARY KEY (id);


--
-- Name: contrats contrats_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contrats
    ADD CONSTRAINT contrats_pkey PRIMARY KEY (id);


--
-- Name: depreciations depreciations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depreciations
    ADD CONSTRAINT depreciations_pkey PRIMARY KEY (id);


--
-- Name: devises devises_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key UNIQUE (code);


--
-- Name: devises devises_code_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key1 UNIQUE (code);


--
-- Name: devises devises_code_key10; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key10 UNIQUE (code);


--
-- Name: devises devises_code_key11; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key11 UNIQUE (code);


--
-- Name: devises devises_code_key12; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key12 UNIQUE (code);


--
-- Name: devises devises_code_key13; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key13 UNIQUE (code);


--
-- Name: devises devises_code_key14; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key14 UNIQUE (code);


--
-- Name: devises devises_code_key15; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key15 UNIQUE (code);


--
-- Name: devises devises_code_key16; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key16 UNIQUE (code);


--
-- Name: devises devises_code_key17; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key17 UNIQUE (code);


--
-- Name: devises devises_code_key18; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key18 UNIQUE (code);


--
-- Name: devises devises_code_key19; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key19 UNIQUE (code);


--
-- Name: devises devises_code_key2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key2 UNIQUE (code);


--
-- Name: devises devises_code_key20; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key20 UNIQUE (code);


--
-- Name: devises devises_code_key21; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key21 UNIQUE (code);


--
-- Name: devises devises_code_key3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key3 UNIQUE (code);


--
-- Name: devises devises_code_key4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key4 UNIQUE (code);


--
-- Name: devises devises_code_key5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key5 UNIQUE (code);


--
-- Name: devises devises_code_key6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key6 UNIQUE (code);


--
-- Name: devises devises_code_key7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key7 UNIQUE (code);


--
-- Name: devises devises_code_key8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key8 UNIQUE (code);


--
-- Name: devises devises_code_key9; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_code_key9 UNIQUE (code);


--
-- Name: devises devises_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.devises
    ADD CONSTRAINT devises_pkey PRIMARY KEY (id);


--
-- Name: document_logs document_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_logs
    ADD CONSTRAINT document_logs_pkey PRIMARY KEY (id);


--
-- Name: documents documents_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_pkey PRIMARY KEY (id);


--
-- Name: exercices exercices_annee_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercices
    ADD CONSTRAINT exercices_annee_key UNIQUE (annee);


--
-- Name: exercices_comptables exercices_comptables_annee_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercices_comptables
    ADD CONSTRAINT exercices_comptables_annee_key UNIQUE (annee);


--
-- Name: exercices_comptables exercices_comptables_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercices_comptables
    ADD CONSTRAINT exercices_comptables_pkey PRIMARY KEY (id);


--
-- Name: exercices exercices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.exercices
    ADD CONSTRAINT exercices_pkey PRIMARY KEY (id);


--
-- Name: factures factures_numero_facture_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.factures
    ADD CONSTRAINT factures_numero_facture_key UNIQUE (numero_facture);


--
-- Name: factures factures_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.factures
    ADD CONSTRAINT factures_pkey PRIMARY KEY (id);


--
-- Name: mouvements mouvements_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mouvements
    ADD CONSTRAINT mouvements_pkey PRIMARY KEY (id);


--
-- Name: reevaluations reevaluations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reevaluations
    ADD CONSTRAINT reevaluations_pkey PRIMARY KEY (id);


--
-- Name: taux_change taux_change_devise_id_date_taux_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taux_change
    ADD CONSTRAINT taux_change_devise_id_date_taux_key UNIQUE (devise_id, date_taux);


--
-- Name: taux_change taux_change_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taux_change
    ADD CONSTRAINT taux_change_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_email_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key1 UNIQUE (email);


--
-- Name: users users_email_key10; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key10 UNIQUE (email);


--
-- Name: users users_email_key11; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key11 UNIQUE (email);


--
-- Name: users users_email_key12; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key12 UNIQUE (email);


--
-- Name: users users_email_key13; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key13 UNIQUE (email);


--
-- Name: users users_email_key14; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key14 UNIQUE (email);


--
-- Name: users users_email_key15; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key15 UNIQUE (email);


--
-- Name: users users_email_key16; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key16 UNIQUE (email);


--
-- Name: users users_email_key17; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key17 UNIQUE (email);


--
-- Name: users users_email_key18; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key18 UNIQUE (email);


--
-- Name: users users_email_key19; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key19 UNIQUE (email);


--
-- Name: users users_email_key2; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key2 UNIQUE (email);


--
-- Name: users users_email_key20; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key20 UNIQUE (email);


--
-- Name: users users_email_key21; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key21 UNIQUE (email);


--
-- Name: users users_email_key22; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key22 UNIQUE (email);


--
-- Name: users users_email_key23; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key23 UNIQUE (email);


--
-- Name: users users_email_key24; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key24 UNIQUE (email);


--
-- Name: users users_email_key25; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key25 UNIQUE (email);


--
-- Name: users users_email_key26; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key26 UNIQUE (email);


--
-- Name: users users_email_key27; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key27 UNIQUE (email);


--
-- Name: users users_email_key28; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key28 UNIQUE (email);


--
-- Name: users users_email_key29; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key29 UNIQUE (email);


--
-- Name: users users_email_key3; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key3 UNIQUE (email);


--
-- Name: users users_email_key30; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key30 UNIQUE (email);


--
-- Name: users users_email_key31; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key31 UNIQUE (email);


--
-- Name: users users_email_key32; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key32 UNIQUE (email);


--
-- Name: users users_email_key33; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key33 UNIQUE (email);


--
-- Name: users users_email_key4; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key4 UNIQUE (email);


--
-- Name: users users_email_key5; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key5 UNIQUE (email);


--
-- Name: users users_email_key6; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key6 UNIQUE (email);


--
-- Name: users users_email_key7; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key7 UNIQUE (email);


--
-- Name: users users_email_key8; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key8 UNIQUE (email);


--
-- Name: users users_email_key9; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key9 UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: amortissements_actif_id_exercice; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX amortissements_actif_id_exercice ON public.amortissements USING btree (actif_id, exercice);


--
-- Name: idx_actifs_actif; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_actifs_actif ON public.actifs USING btree (actif);


--
-- Name: idx_actifs_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_actifs_code ON public.actifs USING btree (code);


--
-- Name: idx_actifs_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_actifs_created_at ON public.actifs USING btree (created_at DESC);


--
-- Name: idx_actifs_devise_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_actifs_devise_id ON public.actifs USING btree (devise_id);


--
-- Name: idx_actifs_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_actifs_type ON public.actifs USING btree (type);


--
-- Name: idx_amortissements_actif_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_amortissements_actif_id ON public.amortissements USING btree (actif_id);


--
-- Name: idx_amortissements_exercice; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_amortissements_exercice ON public.amortissements USING btree (exercice);


--
-- Name: idx_anomalies_actif_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_anomalies_actif_id ON public.anomalies USING btree (actif_id);


--
-- Name: idx_anomalies_resolu_par; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_anomalies_resolu_par ON public.anomalies USING btree (resolu_par);


--
-- Name: idx_anomalies_statut; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_anomalies_statut ON public.anomalies USING btree (statut);


--
-- Name: idx_anomalies_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_anomalies_type ON public.anomalies USING btree (type_anomalie);


--
-- Name: idx_audit_action; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_action ON public.audit_logs USING btree (action);


--
-- Name: idx_audit_logs_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_created_at ON public.audit_logs USING btree (created_at DESC);


--
-- Name: idx_audit_logs_table_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_table_name ON public.audit_logs USING btree (table_name);


--
-- Name: idx_audit_logs_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_audit_logs_user_id ON public.audit_logs USING btree (user_id);


--
-- Name: idx_categories_amortissement_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_categories_amortissement_code ON public.categories_amortissement USING btree (code_categorie);


--
-- Name: idx_contrats_actif_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_contrats_actif_id ON public.contrats USING btree (actif_id);


--
-- Name: idx_contrats_date_fin; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_contrats_date_fin ON public.contrats USING btree (date_fin);


--
-- Name: idx_depreciations_actif_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_depreciations_actif_id ON public.depreciations USING btree (actif_id);


--
-- Name: idx_devises_actif; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devises_actif ON public.devises USING btree (actif);


--
-- Name: idx_devises_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_devises_code ON public.devises USING btree (code);


--
-- Name: idx_document_logs_action_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_document_logs_action_date ON public.document_logs USING btree (action_date);


--
-- Name: idx_document_logs_document_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_document_logs_document_id ON public.document_logs USING btree (document_id);


--
-- Name: idx_document_logs_user_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_document_logs_user_id ON public.document_logs USING btree (user_id);


--
-- Name: idx_documents_actif_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_documents_actif_id ON public.documents USING btree (actif_id);


--
-- Name: idx_exercices_annee; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_exercices_annee ON public.exercices USING btree (annee);


--
-- Name: idx_exercices_cloture; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_exercices_cloture ON public.exercices USING btree (cloture);


--
-- Name: idx_factures_actif_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_factures_actif_id ON public.factures USING btree (actif_id);


--
-- Name: idx_factures_numero_facture; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_factures_numero_facture ON public.factures USING btree (numero_facture);


--
-- Name: idx_mouvements_actif_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mouvements_actif_id ON public.mouvements USING btree (actif_id);


--
-- Name: idx_mouvements_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mouvements_date ON public.mouvements USING btree (date);


--
-- Name: idx_mouvements_date_mouvement; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mouvements_date_mouvement ON public.mouvements USING btree (date_mouvement);


--
-- Name: idx_mouvements_statut; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mouvements_statut ON public.mouvements USING btree (statut);


--
-- Name: idx_mouvements_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mouvements_type ON public.mouvements USING btree (type_mouvement);


--
-- Name: idx_mouvements_validated_by; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mouvements_validated_by ON public.mouvements USING btree (validated_by);


--
-- Name: idx_reevaluations_actif_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reevaluations_actif_id ON public.reevaluations USING btree (actif_id);


--
-- Name: idx_reevaluations_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reevaluations_date ON public.reevaluations USING btree (date_reevaluation DESC);


--
-- Name: idx_users_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_email ON public.users USING btree (email);


--
-- Name: idx_users_role; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_users_role ON public.users USING btree (role);


--
-- Name: actifs actifs_categorie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actifs
    ADD CONSTRAINT actifs_categorie_id_fkey FOREIGN KEY (categorie_id) REFERENCES public.categories_amortissement(id);


--
-- Name: actifs actifs_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actifs
    ADD CONSTRAINT actifs_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: actifs actifs_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actifs
    ADD CONSTRAINT actifs_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: amortissements amortissements_actif_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.amortissements
    ADD CONSTRAINT amortissements_actif_id_fkey FOREIGN KEY (actif_id) REFERENCES public.actifs(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: anomalies anomalies_actif_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.anomalies
    ADD CONSTRAINT anomalies_actif_id_fkey FOREIGN KEY (actif_id) REFERENCES public.actifs(id) ON DELETE CASCADE;


--
-- Name: anomalies anomalies_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.anomalies
    ADD CONSTRAINT anomalies_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: anomalies anomalies_resolu_par_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.anomalies
    ADD CONSTRAINT anomalies_resolu_par_fkey FOREIGN KEY (resolu_par) REFERENCES public.users(id);


--
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: categories_amortissement categories_amortissement_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: categories_amortissement categories_amortissement_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories_amortissement
    ADD CONSTRAINT categories_amortissement_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(id);


--
-- Name: contrats contrats_actif_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.contrats
    ADD CONSTRAINT contrats_actif_id_fkey FOREIGN KEY (actif_id) REFERENCES public.actifs(id) ON DELETE CASCADE;


--
-- Name: depreciations depreciations_actif_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.depreciations
    ADD CONSTRAINT depreciations_actif_id_fkey FOREIGN KEY (actif_id) REFERENCES public.actifs(id) ON DELETE CASCADE;


--
-- Name: document_logs document_logs_document_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_logs
    ADD CONSTRAINT document_logs_document_id_fkey FOREIGN KEY (document_id) REFERENCES public.documents(id) ON DELETE CASCADE;


--
-- Name: document_logs document_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.document_logs
    ADD CONSTRAINT document_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: documents documents_actif_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_actif_id_fkey FOREIGN KEY (actif_id) REFERENCES public.actifs(id) ON DELETE CASCADE;


--
-- Name: documents documents_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.documents
    ADD CONSTRAINT documents_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: factures factures_actif_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.factures
    ADD CONSTRAINT factures_actif_id_fkey FOREIGN KEY (actif_id) REFERENCES public.actifs(id) ON DELETE CASCADE;


--
-- Name: factures factures_contrat_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.factures
    ADD CONSTRAINT factures_contrat_id_fkey FOREIGN KEY (contrat_id) REFERENCES public.contrats(id);


--
-- Name: factures factures_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.factures
    ADD CONSTRAINT factures_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: actifs fk_actifs_devise; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.actifs
    ADD CONSTRAINT fk_actifs_devise FOREIGN KEY (devise_id) REFERENCES public.devises(id) ON DELETE SET NULL;


--
-- Name: amortissements fk_amortissements_actif; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.amortissements
    ADD CONSTRAINT fk_amortissements_actif FOREIGN KEY (actif_id) REFERENCES public.actifs(id) ON DELETE CASCADE;


--
-- Name: mouvements mouvements_actif_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mouvements
    ADD CONSTRAINT mouvements_actif_id_fkey FOREIGN KEY (actif_id) REFERENCES public.actifs(id) ON DELETE CASCADE;


--
-- Name: mouvements mouvements_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mouvements
    ADD CONSTRAINT mouvements_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: mouvements mouvements_validated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mouvements
    ADD CONSTRAINT mouvements_validated_by_fkey FOREIGN KEY (validated_by) REFERENCES public.users(id);


--
-- Name: reevaluations reevaluations_actif_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reevaluations
    ADD CONSTRAINT reevaluations_actif_id_fkey FOREIGN KEY (actif_id) REFERENCES public.actifs(id) ON DELETE CASCADE;


--
-- Name: reevaluations reevaluations_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reevaluations
    ADD CONSTRAINT reevaluations_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id);


--
-- Name: taux_change taux_change_devise_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.taux_change
    ADD CONSTRAINT taux_change_devise_id_fkey FOREIGN KEY (devise_id) REFERENCES public.devises(id);


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

\unrestrict YrmPvebKa3hVil7hHYNrL2UJbfGMX2NIwVykowFXIoRs6qXVGdWnL7L8zTbHhh4

